* {

    text-decoration: none;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
}



body{
    background: rgba(0,0,0,0.8)url(https://wallpaperswide.com/download/css_coding-wallpaper-1152x864.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-blend-mode:darken;
}



/* offcanvas home,about, contact, my-cerificates, feedback links */
.colorWhite {
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: larger;
    border: 1px solid rgb(11, 11, 192);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    background-color: transparent;
    letter-spacing: 2px;
    box-shadow: #22227e 0px -1px 8px 5px;
}
/* offcanvas home,about, contact, my-cerificates, feedback links */


.colorWhite:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(0, 60, 255);
}






/* <!-- top corner home button --> */
.home{
    position: relative;
    right: 25%;
    background-color:transparent ;
    box-shadow: 1px 2px 19px 4px blue;
    color: rgb(255, 255, 255);
    border: none;
}
/* <!-- top corner home button --> */








/* from inspect tool */
.navbar-nav {
    --bs-nav-link-hover-color: rgb(255 0 0 / 80%);
}
/* from inspect tool */







.navbar-brand:focus,
.navbar-brand:hover {
    color: rgb(243 0 0);
}





/* offcanvas */
.bg-dark {
    background-image: url(https://e0.pxfuel.com/wallpapers/354/782/desktop-wallpaper-huge-lines-of-code.jpg);
    border: 1px solid rgb(68, 66, 66);
    background-blend-mode: multiply;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/* offcanvas */





/* offcanvas closs button */
.btn-close {
    color: antiquewhite;
    background-color: rgb(27, 126, 255);
}
/* offcanvas closs button */

button {
    background-color: black;
    border: none;
}
/* offcanvas close button */








/* <!-- middle header text  --> */
.header_text {
    color: rgb(198, 202, 199);
    font-weight: lighter;
    letter-spacing: 8px;
    /* box-shadow: 1px 2px 19px 4px blue; */
}
/* <!-- middle header text  --> */








.name {
    color: rgb(22, 162, 255);
    text-align: right;
}








b {
    font-family: 'Preahvihear', sans-serif;
    font-weight: bold;
    letter-spacing: 2px;
}





.text {
    color: rgb(255, 255, 255);
}






hr {
    height: 1px;
    color: rgb(99, 124, 253);
    width: 50%;
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
    margin-left: 25%;
}






.btn a {
    width: fit-content;
    text-decoration: none;
    color: bisque;
}



/*hire-me, my-cv, my-works*/
.btn1{
    border:1px solid rgb(103, 47, 255);
    background-color: transparent;
    box-shadow: 1px 2px 19px 4px blue;
    border: none;
}
.yellow:hover{
    background-color: rgb(196, 0, 0);
   
}
/*hire-me, my-cv, my-works*/






/* middle home button */

  .btnwidth {
    width: 21%;
    background-color: transparent;
    margin-top: 5%;
    font-weight: 900;
    letter-spacing: 4px;
    margin-left: 10%;
    /* border: 1px solid blue; */
    color: white;
    box-shadow: 1px 2px 19px 4px blue;
    position: relative;
    right: 26px;
    border: none;
}

/* middle home button */








.login {
    position: relative;
    left: 23%;
    border: 1px solid blue;
    background-color:transparent ;
    box-shadow: 1px 2px 19px 4px blue;
}

.logout {
    position: relative;
    left: 24%;
    border: 1px solid blue;
    background-color: transparent;
    box-shadow: 1px 2px 19px 4px blue;
}
.headerlinks {
    margin-top: 60px;
}
















/* media query starts */

@media only screen and (max-width:870px) {
    body {
        background-image: url(https://web-dev.imgix.net/image/admin/ltK4SNRultTnkbimOySm.jpg?auto=format);
        background-repeat: no-repeat;
        background-size: cover;
        height: 100vh;
        /* background-blend-mode:luminosity; */
    }

    .name {
        color: rgb(28, 126, 255);
    }

    .header_text {
        color: rgb(255, 255, 255);
    }

    .login,
    .logout {
        display: none;
    }

    hr{
        background-color: black;
        height: 3px;
    }

    .headerlinks {
        margin-top: 20px;
    }

    .btnwidth{
        margin-left: 70%;
    }
    header{
        margin-top: 50px;
    }

    .login1, .logout2{
        display: inline-block;
     }


     .home {
        position: relative;
        right: 36%;
        top: 65px;
        width: 86px;
        background-color: transparent;
        box-shadow: blue 1px 2px 19px 4px;
        color: rgb(255, 255, 255);
    }
}

@media only screen and (max-width:2000px){
    .login1, .logout2{
       display: none;
    }
    
}

@media only screen and (max-width:870px){
    .login1, .logout2{
       display: inline-block;
    }
}

@media only screen and (max-width:4000px){
    .login1, .logout2{
       display: none;
    }
    
}

